*{    margin: 0;
    padding: 0;
    box-sizing: border-box
}

section{
    margin: 300px 0px 0px 450px;
}
a{
 
float: left;
margin: auto;
}

ul{list-style: none;}

ul li a{
    display: inline-block;
    text-indent: -3000px;
    margin: 30px;
    background-image: url(../img/logo.gif);
}
#fb, #li, #tw {
   
    height: 300px;
    width: 300px;
    display: block;
    position: relative;
}

#fb{

    background-position: 0px 0px;
}

#li{

    background-position: 600px 0px;
}

#tw{

    background-position: 300px 0px;  
}

a#fb:hover{

    background-position: 0px 300px;
}

 a#li:hover{
    background-position: 600px 300px;
}
 a#tw:hover{

    background-position: 300px 300px;
} 
